/*--------SHELL--------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  width: 100%;
  height: 700px;
  background: url('../assets/images/logo-header/bsmHeaderBKG.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 2px solid #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
}
  #logo {
    width: 600px;
    margin-top: 55px;
  }
  .lavishly-yours-regular {
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5.5em;
    margin-top: -120px;
    color: #fff;
    text-shadow: 3px 3px 7px #333;
  }
p {
  margin-top: 10px;
  color: #333;
  font-size: 1.3em;
}
h1 {
  color: rgb(79, 111, 111);
  text-shadow: 1px 1px 3px #fff;
  font-size: 3em;
}
h2 {
  color: #fff;
  font-size: 1.6em;
  margin-bottom: 20px;
  font-weight: 400;
  font-style: italic;
}
h3 {
  color: rgb(79, 111, 111);
  text-shadow: 1px 1px 3px #fff;
  font-size: 2em;
  margin-top: 20px;
}
nav {
  width: 100%;
  height: 80px;
  background: rgba(79, 111, 111, .75);
  box-shadow: 0 3px 8px #333; 
  padding: 0px 20px 0;
  border: 1px solid #fff;
  text-align: center;
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  #tinyLogo {
    width: 90px;
    margin-top: 10px;
    float: left;
    display: block;
  }
  #tinyLogo:hover {
    filter: drop-shadow(12px 12px 18px #333);
  }
  .navLinks {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
 
  }
    .navLinks a {
      font-size: 1.8em;
      text-decoration: none;
      color: #fff;
      font-family: Georgia, serif;
    }
    .navLinks a:hover {
      color: #333;
      text-decoration: underline;
    }
  #socials {
    float: right;
  }

  .icon {
    width: 40px;
    height: auto;
    margin: 10px;
  }
main {
  width: 100%;
  min-height: 1200px;
  border-bottom: 1px solid #fff;
}
footer {
  background: rgb(79, 111, 111);
  width: 100%;
  height: 250px;
  padding: 32px 16px;
  font-size: 1em;
  text-align: center;
  border-top: 2px solid #fff;
  color: #fff;
  position: relative;
}
  #footerLeft {
    position: absolute;
    left: 16px;
    top: 32px;
  }
    #tinyLogoFooter {
      width: 200px;
    }
  #footerRight {
    width: 50%;
    float: right;
    padding: 30px 40px;
  }
    #footerRightIMG {
      width: 120px;
      border-radius: 16px;
    }
  .footerLinksContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
    .footerLinksLeft {
      list-style-position: inside;
      padding-left: 0;
      margin: 0 80px;
    }
      .footerLinksLeft li {
        font-size: 1em;
        margin-bottom: 4px;
        list-style-type: disc;
        text-align: left;
      }
    .footerLinksRight {
      list-style-position: inside;
      padding-left: 0;
      margin: 0 70px;
    }
      .footerLinksRight li {
        font-size: 1em;
        margin-bottom: 4px;
        list-style-type: disc;
        text-align: left;
      }
    footer p {
      margin-top: 24px;
      font-size: 0.9em;
    }

/*--------INDEX PAGE--------*/
  #indexMain {
    padding: 50px;
    text-align: center;
    height: auto;
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  #mainLeft {
    width: 50%;
    min-height: 1100px;
    float: left;
    border-right: 10px solid rgb(79, 111, 111);
    text-align: center;
  }
    #instagramReel {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  #mainRight {
    width: 50%;
    min-height: 1100px;
    float: left;
    padding: 30px 40px;
    text-align: center;
    justify-content: center;
  }
  #feedbackIMG {
    width: 40%;
    height: auto;
    padding: 10px;
    vertical-align: top;
    margin: 10px;
  }
  #deskIMG {
    width: 70%;
    height: auto;
    padding: 10px;
    margin-top: 20px;
  }
ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
#thicket {
  width: 40%;
  margin-top: 25px;
}
  #thicket:hover {
    filter: drop-shadow(12px 12px 18px #333);
  }

/*--------ABOUT PAGE--------*/
#aboutMain {
  padding: 50px;
  text-align: center;
  height: auto;
  background: #003973;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E5E5BE, #0e7d83);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E5E5BE, #0e7d83); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#bioPic {
  width: 550px;
  float: left;
  margin: 0 10px;
  border-radius: 26px;
}
#aboutMeBlurb {
  padding: 10px;
}
  #aboutMeBlurb > p {
  color: #000;
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px;
  letter-spacing: 0.1em;
  margin: 20px;
  }
h4 {
 color: #fff;
 text-shadow: 3px 3px 5px #333;
 font-size: 3em;
 letter-spacing: 1px;
}
#behindTheName {
  margin-top: 2em;
  border-top: 2px solid rgb(79, 111, 111);
}
  #behindTheName > h4 {
    margin-top: 1em;
  }
  #behindTheName > p {
  color: #000;
  font-size: 1.6em;
  font-weight: 550;
  padding: 10px;
  letter-spacing: 0.1em;
  margin: 20px;
  }
  .aboutIMG {
    width: 400px;
    height: 250px;
    border-radius: 16px;
    padding: 5px;
  }